

/* .address_container {
    position: relative;
    justify-content: center;
    width: 783px;
    height: 297px;
    margin: 20vh auto;
    color: black !important;
} */

/* .address_container h1 {
    background-color: transparent;
    font-family: 'notoloadthin';
    font-weight: 100;
    font-size: 15px;
    line-height: 28px;    
}

.address_container h2 {
    background-color: transparent;
    font-family: notoload;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}

.address_container h1.id1 {
    position: absolute;
    margin-top: 62px;
    margin-left: 156px;
}

.address_container h1.id2 {
    position: absolute;
    margin-left: 485px;
    margin-top: 62px;
}

.address_container h1.id3 {
    position: absolute;
    max-width: 42px;
    margin-left: 485px;
    margin-top: 155px;
}

.address_container h2.id11 {
    position: absolute;
    margin-left: 156px;
    margin-top: 99px;
    max-width: 253px;
    max-height: 56px;
}

.address_container h2.id22 {
    position: absolute;
    margin-left: 485px;
    margin-top: 99px;
    max-width: 105px;
    max-height: 28px;

}

.address_container h2.id33 {
    position: absolute;
    margin-left: 485px;
    margin-top: 186px;
    display: block;
    max-width: 126px;
    max-height: 28px;
} */

.inquire_mail {
    visibility: hidden;
    width: 783px;
    height: 297px;

    margin: 177px auto auto auto;

    display: flex;
}

.inquire_mail ::placeholder{
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    color: #AAAAAA;
    font-family: notoloadnor;




}

.inquire_mail .input1 {
    position: relative;
    width: 331px;
    height: 68px;
    max-width: 331px;
    max-height: 68px;
    resize: none;
    background: #FFFFFF;
    border: 1px solid #373737;
    border-radius: 6px;

    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 22px;
    padding-top: 15px;

    font-family: notoloadnor;

}

.inquire_mail .input2 {
    position: relative;
    margin-left: 20px;

    width: 432px;
    height: 68px;

    max-width: 432px;
    max-height: 68px;

    resize: none;
    background: #FFFFFF;
    border: 1px solid #373737;
    border-radius: 6px;

    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 22px;
    padding-top: 15px;

    font-family: notoloadnor;


}
.submit_send{
    margin: 327px  auto  auto 330px;
    position: absolute;
    outline: 2px solid var(--clr-primary);
    border-radius: 4px;
    padding: 15px 30px;
    background: none;
    border: none;
    color: var(--clr-primary);
    font-family: "GmarketSansMedium";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    cursor: pointer;
}

.inquire_mail .input3 {
    position: absolute;


    width: 783px;
    height: 166px;

    max-width: 783px;
    max-height: 166px;

    resize: none;
    background: #FFFFFF;
    border: 1px solid #373737;
    border-radius: 6px;

    margin-top: 88px;

    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 22px;
    padding-top: 15px;
    padding-right: 22px;

    font-family: notoloadnor;

}


/*input[type=text] {*/
/*    !* Set width to 40characters *!*/
/*    width: 40ch;*/
/*    !* prevent overflow of container *!*/
/*    max-width: 100%;*/
/*}*/

/*::placeholder {*/
/*    text-align: center;*/
/*}*/

/*!* or, for legacy browsers *!*/

/*::-webkit-input-placeholder {*/
/*    text-align: center;*/
/*}*/

/*:-moz-placeholder { !* Firefox 18- *!*/
/*    text-align: center;*/
/*}*/

/*::-moz-placeholder {  !* Firefox 19+ *!*/
/*    text-align: center;*/
/*}*/

/*:-ms-input-placeholder {*/
/*    text-align: center;*/
/*}*/

@media screen and (min-width: 1920px) {
    .address_container p, .address_container span{
        font-size: 2rem;
    }
    .address_container{
        margin: 20rem auto !important;
        padding: 5rem !important;
    }
    
}